body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21.6px;
  color: #212123; 
  background-color: #e2dfdf;
}
.yellow-text {
  color: #efbe1b;
}
.container-for-cv {
  display: flex;
  justify-content: space-between;
  width: 846px;
  height: 1580px;
  margin: 50px auto;
  padding: 0;
  box-sizing: border-box;
  box-shadow: -4px 6px 30px #7a7a7a, 
              4px -6px 25px #faf3f2;
}
aside {
  display: grid;
  grid-template-columns: 216px;
  grid-template-rows: 330px 170px 2px 210px 2px 231px 2px 75px 2px 200px;
  grid-row-gap: 30px;
  width: 276px;
  height: 1580px;
  padding: 20px 30px 10px;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #2c3e50;
}
.foto-name-position {
  text-align: center;
}
h1 {
  font-size: 26px;
}
h2 {
  font-size: 15px;
  font-weight: normal;
}
.summary {
  display: grid;
  grid-template-columns: 216px;
  grid-template-rows: 20px 130px;
  grid-row-gap: 20px;
}
.summary-header,
.contacts-header,
.soft-skills-header,
.languages-header {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}
.summary-text {
  font-size: 15px;
  line-height: 19px;
  text-align: justify;
}
.line {
  display: flex;
  justify-content: center;
}
.white-line {
  width: 150px;
  height: 1px;
  background-color: #ffffff;
}
.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.phone,
.email,
.address,
.github {
  font-size: 15px;
  line-height: 15px;
  font-weight: bold;
}
.phone-number,
.email-address,
.address-city,
.githab-nik {
  font-size: 14px;
  line-height: 14px;
  color: #efbe1b;
}
.githab-nik {
  text-decoration: none;
}
.soft-skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.soft-skills-string {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}
.soft-skills-name {
  width: 120px;
  height: 20px;
}
.soft-skills-scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 10px;
}
.yellow-scale {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #efbe1b;
}
.white-scale {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #ffffff;
}
.languages {
  display: grid;
  grid-template-columns: 216px;
  grid-template-rows: 20px 20px 20px;
  grid-row-gap: 4px;
  text-align: center;
}
.lenguages-ru-eng {
  font-size: 14px;
  line-height: 20px;
}
article {
  width: 216px;
  height: 200px;
}
h3 {
  margin-top: 0;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}
.about-me-text {
  font-size: 14px;
  line-height: 19px;
  text-align: justify;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 570px;
  height: 1580px;
  background-color: #ffffff;
}
.container {
  display: grid;
  grid-template-columns: 510px;
  grid-template-rows: 335px 172px 894px;
  grid-row-gap: 25px;
  width: 510px;
  height: 1450px;
}
.education {
  display: grid;
  grid-template-columns: 510px;
  grid-template-rows: 30px 20px 15px 20px 65px 15px 20px 25px 15px 20px;
  grid-row-gap: 10px;
  text-align: center;
}
.education-header,
.hard-skills-header,
.portfolio-header
{
  margin: 0;
  padding: 0;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background-color: #efbe1b;
}
.education-university {
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.education-years {
  font-size: 12px;
  line-height: 15px;
  color: #616063;
}
.education-speciality {
  font-size: 14px;
  line-height: 20px;
}
.hard-skills {
  display: grid;
  grid-template-columns: 235px 235px;
  grid-template-rows: 30px 30px 30px 30px;
  grid-column-gap: 40px;
  grid-row-gap: 15px;
}
.hard-skills-header {
  grid-column: 1/3;
}
.hard-skills-scale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 30px;
}
.skills {
  width: 70px;
  height: 30px;
}
.scale {
  display: flex;
  justify-content: flex-end;
  width: 115px;
  height: 4px;
  background-color: #2c3e50;
}
.scale-gray {
  background-color: #9b9b9b;
}
.html-css {
  width: 20px;
}
.javascript-git {
  width: 50px;
}
.react-typescript-node {
  width: 80px;
}
.portfolio
{
  display: grid;
  grid-template-columns: 510px;
  grid-template-rows: 30px 150px 150px 550px;
  grid-row-gap: 10px;
}
a {
  font-size: 16px;
  line-height: 25px;
  color: #efbe1b; 
}
.portfolio-aff,
.portfolio-creat-members {
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio-text {
  width: 330px;
  height: 131px;
}
.portfolio-text-name,
.codeware-name {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;   
}
.codeware-name {
  margin: 5px 5px 0;
}
.portfolio-text-p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
.portfolio-text-a {
  font-size: 12px;
  line-height: 12px; 
}
.portfolio-imges {
  width: 150px;
  height: 131px;
}
.portfolio-imges:hover {
  opacity: 0.8;
}
.portfolio-imges:active {
  transform: scale(0.9);
}
.portfolio-codewars-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 510px;
  height: 535px;
}
.portfolio-codewars {
  margin: 0;
  width: 510px;
  height: 505px;
  font-size: 12px;
  line-height: 13px;
}
footer {
  width: 510px;
  height: 40px;
  text-align: right;
}
.link-logo {
  height: 25px;
}
.date {
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  font-weight: bold;
}

@media all and (max-width: 900px) 
{
    .container-for-cv {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 530px;
        height: 2396px;
        margin: 15px auto;
       
    }
    aside {
        padding: 10px 30px 0;
        display: grid;
        grid-template-columns: 216px 216px;
        grid-template-rows: 330px 210px 231px;
        grid-column-gap: 38px;
        grid-row-gap: 15px;
        width: 530px;
        height: 816px;
    }
    .line {
        display: none;
    }
    .summary,
    .languages {
        padding: 50px 0;
    }
    main {
        width: 530px;
        height: 1580px;
    }   
}
@media all and (max-width: 560px)
{
    .container-for-cv {
        width: 315px;
        height: 3220px;
    }
    aside {
        padding: 10px 49.5px 0;
        display: grid;
        grid-template-columns: 216px;
        grid-template-rows: 330px 170px 2px 210px 2px 231px 2px 75px 2px 200px;
        grid-row-gap: 20px;
        width: 315px;
        height: 1454px;
    }
    .line {
        display: flex;
    }
    .summary,
    .languages {
        padding: 0;
    }
    main {
        width: 315px;
        height: 1766px;
    }
    .container {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 375px 192px 1040px;
        grid-row-gap: 15px;
        width: 300px;
        height: 1637px;

    }
    .education {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 30px 40px 15px 20px 85px 15px 20px 45px 15px 20px;
        grid-row-gap: 7px;
        text-align: center;
    }
    .hard-skills {
        grid-template-columns: 145px 145px;
        grid-column-gap: 10px;
    }
    .scale { width: 70px; }
    .html-css { width: 20px; }
    .javascript-jquery-dom { width: 35px; }
    .git { width: 35px; }
    .portfolio
    {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 30px 215px 215px 550px;
        grid-row-gap: 10px;
    }
    .portfolio-text {
        width: 150px;
        height: 215px;
    }
    .portfolio-text-p {
        font-size: 13px;
        line-height: 17px;
    }
    .portfolio-text-a {
        font-size: 11px;
        line-height: 11px; 
    }
    .portfolio-codewars-container {
        width: 300px;
        height: 535px;
    }
    .portfolio-codewars {
        width: 300px;
        height: 505px;
    }
    footer { width: 300px; }
}